html,
body {
    position: relative;
    height: 100%;
    font-size: 16px;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    background-color: white;
    margin: 0;
}

.site {
    position: relative;
    padding-bottom: 6rem;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    display: block;
    background-color: white;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.logo {
    width: 60px;
    height: 60px;
    padding: 2rem 2rem;
    margin: 0 auto;

}

.menu-item {
    font-size: 1rem;
    padding: 1rem 1rem;
    font-family: 'Montserrat', sans-serif;
}

.menu-item a {
    color: #FF8C00;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 175px);
    position: relative;
    scroll-snap-align: start;
}

section h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: black;

}

section h2 {
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: black;
    cursor: pointer;
}

section h2 a {
    text-decoration: none;
}


h2 {
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h2:hover {
    animation: text-shadow 1.5s ease-in-out infinite;

}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

.floating-arrow {
    background-image: url(/assets/arrow2.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2rem;
    left: calc(50vw - 25px);
    z-index: 10;
    cursor: pointer;
}

.floating-arrow {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

article h1 {
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    color: black;
}

article h3 {
    text-align: center;
    margin: 20px;
    padding: 1rem;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: black;
}

article h4 {
    text-align: center;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    color: #2B86B3;
}

.gallery-viewport {
    margin: 0 auto;
    width: 320px;
    height: 240px;
    overflow: hidden;
}

.gallery-strip {
    width: 1660px;
    display: flex;
    justify-content: space-between;
    animation: move 15s linear infinite;

}

.gallery-item {
    width: 320px;
    height: 240px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.gallery-item:last-child {
    margin-right: 0;
}

@keyframes move {

    0%,
    10% {
        transform: translateX(0);
    }

    20%,
    30% {
        transform: translateX(-335px);
    }

    40%,
    50% {
        transform: translateX(-670px);
    }

    60%,
    70% {
        transform: translateX(-1005px);
    }

    80%,
    90% {
        transform: translateX(-1340px);
    }

}

.text-box {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    line-height: 25px;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.box {
    padding: 20px;
    width: 250px;

    line-height: 25px;
    color: black;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify-all;
}

.arrow-back {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.hello {
    position: relative;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
    white-space: nowrap;
}

.hello div {
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: reveal 4s 0s infinite;
}

@keyframes reveal {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}


.gabi {
    line-height: 25px;
    padding: 20px;
    margin-top: 10px;
    color: black;
    font-size: 32px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.info {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.info-item {
    padding: 20px;
    width: 250px;

    line-height: 25px;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.footer {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto 2rem auto;
    padding-top: 50px;
    text-decoration: none;
}

@media screen and (min-width:768px) {

    .gallery-viewport {
        width: 500px;
        height: 400px;
    }

    .gallery-strip {
        width: 2560px;
    }

    .gallery-item {
        width: 500px;
        height: 400px;
    }

    @keyframes move {

        0%,
        10% {
            transform: translateX(0);
        }

        20%,
        30% {
            transform: translateX(-515px);
        }

        40%,
        50% {
            transform: translateX(-1030px);
        }

        60%,
        70% {
            transform: translateX(-1545px);
        }

        80%,
        90% {
            transform: translateX(-2060px);
        }

    }


    .box {
        width: 350px;
    }

}

@media screen and (min-width:992px) {

    header {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        margin: 0 4rem 0 0;
    }


    .logo {
        margin: 0 0 0 8%;
    }

    .menu-item {
        margin: 10px;
        font-size: 18px;
    }

    section {
        height: calc(100vh - 82px);
    }

    article h1 {
        padding: 4rem 0 1rem 0;
        font-size: 80px;
        margin-bottom: 10px;
    }

    article h3 {
        margin: 40px;
        padding: 1rem;
        font-size: 28px;
    }


    article h4 {
        font-size: 20px;
    }


    .box {
        padding: 70px;
        margin-top: 50px;
        width: 250px;
    }

    .hello {
        font-size: 80px;
    }


    .gabi {
        padding: 30px;
        font-size: 40px;
    }


    .info-item {
        padding: 20px;
        margin-top: 50px;
    }

    .arrow-back {
        margin: 0;
        position: absolute;
        bottom: 5rem;
        padding: 0 0 0 2rem;
        left: 8%;
    }

}
