html,
body {
    position: relative;
    height: 100%;
    font-size: 16px;
}

html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

body {
    background-color: white;
    margin: 0;
}

.site {
    position: relative;
    padding-bottom: 6rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
}

header {
    z-index: 10;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.logo {
    width: 60px;
    height: 60px;
    padding: 2rem 2rem;
    margin-left: 8%;

}

.menu-item {

    font-size: 18px;
    padding: 1rem 1rem;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.menu-item a {
    color: #FF8C00;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 82px);
    position: relative;
    scroll-snap-align: start;
}

section h1 {
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: black;

}

section h2 {
    text-align: center;
    margin: 0;
    padding: 0 0 1rem 0;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: black;
    cursor: pointer;

}

section h2 a {
    text-decoration: none;
}


h2 {
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
}

h2:hover {
    animation: text-shadow 1.5s ease-in-out infinite;

}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

    60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}



.floating-arrow {
    background-image: url(/assets/arrow2.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 2rem;
    left: calc(50vw - 25px);
    z-index: 10;
    cursor: pointer;
}

.floating-arrow {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

article h1 {
    text-align: center;
    padding: 4rem 0 1rem 0;
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
    color: black;
}

article h3 {
    text-align: center;
    margin: 40px;
    padding: 1rem;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: black;
}

.gallery-viewport {
    margin: 0 auto;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.gallery-strip {
    width: 2560px;
    display: flex;
    justify-content: space-between;
    animation: move 15s linear infinite;

}

.gallery-item {
    width: 500px;
    height: 400px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@keyframes move {
    0%, 10% {
        transform: translateX(0);
    }

    20%, 30% {
        transform: translateX(-515px);
    }

    40%, 50% {
        transform: translateX(-1030px);
    }

    60%, 70% {
        transform: translateX(-1545px);
    }

    80%, 90% {
        transform: translateX(-2060px);
    }

}

#wrapper2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container2 {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding-top: 6em;
    width: 100%;
}

article h4 {
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #2B86B3;
}

article h5 {
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.text-box {
    padding: 0;
    margin: 0;
    list-style: none;


    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;

    line-height: 25px;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.box {
    padding: 70px;
    width: 250px;
    margin-top: 50px;

    line-height: 25px;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify-all;
}

.hello {
    font-size: 80px;
    font-family: 'Lato', sans-serif;
    color: black;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: reveal 4s 0s infinite;
}

@keyframes reveal {
    from {
        width: 0;
    }

    to {
        width: 422px;
    }
}


.position-text {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}


.gabi {
    line-height: 25px;
    padding: 30px;
    margin-top: 10px;
    color: black;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.info {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.info-item {
    padding: 70px;
    width: 250px;
    height: 15px;
    margin-top: 50px;

    line-height: 25px;
    color: black;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.arrow-back {
    position: absolute;
    bottom: 5rem;
    padding-left: 2rem;
    left: 8%;
    text-align: center;
    display: flex;
}

.footer {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 auto 2rem auto;
    padding-top: 50px;
    text-decoration: none;
}

